In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

ImportError: cannot import name 'g_key' from 'config' (/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/config/__init__.py)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hopelchen,19.7667,-89.8500,83.48,39,61,1.52,MX,2021-11-28 18:12:16
1,1,Bluff,-46.6000,168.3333,52.43,74,77,18.10,NZ,2021-11-28 18:12:17
2,2,Georgetown,5.4112,100.3354,76.93,94,20,0.00,MY,2021-11-28 18:12:17
3,3,Upernavik,72.7868,-56.1549,-7.76,73,4,10.09,GL,2021-11-28 18:12:18
4,4,Busselton,-33.6500,115.3333,59.29,91,77,8.14,AU,2021-11-28 18:12:18

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=5.0)

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hopelchen,19.7667,-89.8500,83.48,39,61,1.52,MX,2021-11-28 18:12:16
2,2,Georgetown,5.4112,100.3354,76.93,94,20,0.00,MY,2021-11-28 18:12:17
5,5,Cururupu,-1.8283,-44.8683,89.33,52,28,7.74,BR,2021-11-28 18:12:19
6,6,Rikitea,-23.1203,-134.9692,76.44,73,7,16.58,PF,2021-11-28 18:11:25
7,7,Rio Grande,-32.0350,-52.0986,77.11,82,100,11.01,BR,2021-11-28 18:07:32
8,8,Mana,5.6592,-53.7767,84.16,61,54,8.43,GF,2021-11-28 18:12:19
9,9,Vaini,-21.2000,-175.2000,77.16,78,20,9.22,TO,2021-11-28 18:12:20
15,15,Hilo,19.7297,-155.0900,71.33,78,1,4.61,US,2021-11-28 18:07:41
16,16,San Clemente,33.4270,-117.6120,76.82,40,0,3.36,US,2021-11-28 18:09:38
20,20,Rundu,-17.9333,19.7667,73.72,66,79,2.13,NaN,2021-11-28 18:12:23

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       3
Date          0
dtype: int64

In [13]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hopelchen,19.7667,-89.8500,83.48,39,61,1.52,MX,2021-11-28 18:12:16
2,2,Georgetown,5.4112,100.3354,76.93,94,20,0.00,MY,2021-11-28 18:12:17
5,5,Cururupu,-1.8283,-44.8683,89.33,52,28,7.74,BR,2021-11-28 18:12:19
6,6,Rikitea,-23.1203,-134.9692,76.44,73,7,16.58,PF,2021-11-28 18:11:25
7,7,Rio Grande,-32.0350,-52.0986,77.11,82,100,11.01,BR,2021-11-28 18:07:32
...,...,...,...,...,...,...,...,...,...,...
577,577,Gigmoto,13.7796,124.3900,79.77,89,95,10.02,PH,2021-11-28 18:28:11
578,578,Narathiwat,6.3333,101.7500,73.18,97,100,3.94,TH,2021-11-28 18:28:12
582,582,Calabozo,8.9242,-67.4293,89.60,49,62,5.91,VE,2021-11-28 18:28:13
587,587,Rio Gallegos,-51.6226,-69.2181,71.65,9,75,39.12,AR,2021-11-28 18:28:16
588,588,Buala,-8.1450,159.5921,79.99,82,86,5.37,SB,2021-11-28 18:25:11

In [14]:
new_preferred_cities_df = preferred_cities_df.dropna(axis = 0, how ='any')
new_preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hopelchen,19.7667,-89.8500,83.48,39,61,1.52,MX,2021-11-28 18:12:16
2,2,Georgetown,5.4112,100.3354,76.93,94,20,0.00,MY,2021-11-28 18:12:17
5,5,Cururupu,-1.8283,-44.8683,89.33,52,28,7.74,BR,2021-11-28 18:12:19
6,6,Rikitea,-23.1203,-134.9692,76.44,73,7,16.58,PF,2021-11-28 18:11:25
7,7,Rio Grande,-32.0350,-52.0986,77.11,82,100,11.01,BR,2021-11-28 18:07:32

In [15]:
new_preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0      Hopelchen      MX     83.48  19.7667  -89.8500
2     Georgetown      MY     76.93   5.4112  100.3354
5       Cururupu      BR     89.33  -1.8283  -44.8683
6        Rikitea      PF     76.44 -23.1203 -134.9692
7     Rio Grande      BR     77.11 -32.0350  -52.0986
8           Mana      GF     84.16   5.6592  -53.7767
9          Vaini      TO     77.16 -21.2000 -175.2000
15          Hilo      US     71.33  19.7297 -155.0900
16  San Clemente      US     76.82  33.4270 -117.6120
24        Viedma      AR     76.15 -40.8135  -62.9967

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [26]:
 hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hopelchen,MX,83.48,19.7667,-89.8500,Hotel Jaguar
2,Georgetown,MY,76.93,5.4112,100.3354,Cititel Penang
5,Cururupu,BR,89.33,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
6,Rikitea,PF,76.44,-23.1203,-134.9692,People ThankYou
7,Rio Grande,BR,77.11,-32.0350,-52.0986,Hotel Atlântico Rio Grande
8,Mana,GF,84.16,5.6592,-53.7767,LE SAMANA
9,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
15,Hilo,US,71.33,19.7297,-155.0900,Hilo Hawaiian Hotel
16,San Clemente,US,76.82,33.4270,-117.6120,Casablanca Inn
24,Viedma,AR,76.15,-40.8135,-62.9967,Hotel Cristal

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))